<h1>All The Activities</h1>

<ul>
  <% @activities.each do |activity| %>
    <li><%= link_to activity.name, activity_path(activity) %></li>
  <% end %>
</ul>


<p><%= link_to "Sign Up for an Activity", new_sign_up_path %></p>
<p><%= link_to "See All Campers", campers_path %></p>